
body {
  background-color: #EDEBEB;
}


.tab-content {
  color:  #990000;
  text-align: left;
}



.navbar {
    width: 100%;
    background-color:#990000;
    overflow: auto;
}


.navbar-link{
  color: purple;
}


h4 {
  color: #990000;
}

h5{
  color: green;
}

 .irs-single, .irs-bar-edge, .irs-bar {
                                        background: #990000;
                                        border-top: 1px solid #EDEBEB;
                                        border-bottom: 1px solid #EDEBEB;}

